/* .col-md-3{
    background: rgb(77, 196, 233);
    margin-left: 0;
}
#mainMenu {
    background: rgb(168, 168, 253);
    width: 75%;

} */
/* body{
  margin-top: 45px;
  background: gray;
} 
*/

.faenv:hover{
  background: orange;
}

#menu-toggle span{
font-size:1em;
padding: 5px;
}
#topNav{
position: absolute;
top: 0;
left: 0;
right: 0;
line-height: 30px;
}

ul{
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;

}
li
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* 
.navbar-expand-lg .navbar-nav .nav-link  {
  padding-right: 50px !important;
} */
/* .navbar-expand-lg .navbar-nav a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #f00000;
} */


.overlay1{
  height: 15em;
  width: 15em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  color:rgb(255, 255, 255);
  text-align: right;
  line-height: 2em;
  top: 7em;
  left: 0em;
  z-index: 10;
  /* display: hide; */
  box-shadow: 3px 3px 10px rgb(206, 206, 205);
}
.overlay1 h5 {
  margin-top: 3em;
  line-height: 2em;
  font-weight: bolder;
}

.overlay1  a {
text-decoration: none;
/* background: white; */
margin-right: 40%;
}
.hinze{
  display: none;
}
.overlay1 img{
  position: absolute;
  top: -30px;
  left: 80px;
}
/* Sidebar */
#sidebar-wrapper{
  z-index:1;
  position: absolute;
  padding: 0;
  right:0;
  width:0;
  height:87.1vh;
  overflow-y:hidden;
  background: #343a40 !important;
  opacity:0.9;
	transition:all .1s;
	display:flex;
	/* align-items:center; */
}
.sidebar-nav a {
  font-weight: bolder;
}

/* Main Content */
#page-content-wrapper{
  width: 100%;	
  position: absolute;
  padding:15px;
	transition:all .1s;
}

#menu-toggle{
	transition:all .1s;
	font-size:2em;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:250px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-Y: hidden;


}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-right:240px;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
	transition:all .1s;
	width:100%;
	text-align:center;
}

.sidebar-nav li{
  line-height:40px;  
	width:100%;
	transition:all .3s;
	padding:10px;
}
navbar-brand{
  margin-right: auto;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#ddd;
}

.sidebar-nav li:hover{
  background:#767779 !important;
}
.navbar-light .navbar-nav .nav-link{
  color: white !important;
}

